In [1]:
# importing all the necessary packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [21]:
from sklearn.datasets import load_boston
from sklearn.preprocessing import StandardScaler, scale, normalize

In [34]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import train_test_split

In [81]:
from sklearn.metrics import mean_squared_error, r2_score

In [3]:
datasets = load_boston()

In [4]:
df = pd.concat([pd.DataFrame(data=datasets.data, columns=datasets.feature_names),
               pd.Series(data=datasets.target, name='TARGET')], axis=1)

In [5]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,TARGET
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [6]:
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,TARGET
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.593761,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.596783,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.647423,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [8]:
StandardScaler?

In [25]:
scaled_df = pd.DataFrame(scale(df))

In [26]:
scaled_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,-0.417713,0.284830,-1.287909,-0.272599,-0.144217,0.413672,-0.120013,0.140214,-0.982843,-0.666608,-1.459000,0.441052,-1.075562,0.159686
1,-0.415269,-0.487722,-0.593381,-0.272599,-0.740262,0.194274,0.367166,0.557160,-0.867883,-0.987329,-0.303094,0.441052,-0.492439,-0.101524
2,-0.415272,-0.487722,-0.593381,-0.272599,-0.740262,1.282714,-0.265812,0.557160,-0.867883,-0.987329,-0.303094,0.396427,-1.208727,1.324247
3,-0.414680,-0.487722,-1.306878,-0.272599,-0.835284,1.016303,-0.809889,1.077737,-0.752922,-1.106115,0.113032,0.416163,-1.361517,1.182758
4,-0.410409,-0.487722,-1.306878,-0.272599,-0.835284,1.228577,-0.511180,1.077737,-0.752922,-1.106115,0.113032,0.441052,-1.026501,1.487503

In [15]:
std_scale = StandardScaler()

In [16]:
df_1 = df.copy()

In [22]:
std_scale_df = pd.DataFrame(std_scale.fit_transform(df_1))

In [23]:
std_scale_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,-0.417713,0.284830,-1.287909,-0.272599,-0.144217,0.413672,-0.120013,0.140214,-0.982843,-0.666608,-1.459000,0.441052,-1.075562,0.159686
1,-0.415269,-0.487722,-0.593381,-0.272599,-0.740262,0.194274,0.367166,0.557160,-0.867883,-0.987329,-0.303094,0.441052,-0.492439,-0.101524
2,-0.415272,-0.487722,-0.593381,-0.272599,-0.740262,1.282714,-0.265812,0.557160,-0.867883,-0.987329,-0.303094,0.396427,-1.208727,1.324247
3,-0.414680,-0.487722,-1.306878,-0.272599,-0.835284,1.016303,-0.809889,1.077737,-0.752922,-1.106115,0.113032,0.416163,-1.361517,1.182758
4,-0.410409,-0.487722,-1.306878,-0.272599,-0.835284,1.228577,-0.511180,1.077737,-0.752922,-1.106115,0.113032,0.441052,-1.026501,1.487503

In [28]:
normed_df = pd.DataFrame(normalize(df))

In [30]:
normed_df.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,0.005039,0.022790,0.018789,0.000129,0.000988,0.011508,0.120548,0.007253,0.014927,0.690457,0.033301,0.656897,0.021919,0.042284
std,0.011660,0.046744,0.010680,0.000481,0.000189,0.002667,0.048389,0.004580,0.010745,0.151936,0.005945,0.209978,0.011305,0.020607
min,0.000013,0.000000,0.000958,0.000000,0.000659,0.004679,0.006420,0.001451,0.001729,0.424980,0.024039,0.000475,0.003087,0.006376
25%,0.000161,0.000000,0.010663,0.000000,0.000871,0.009431,0.086027,0.003297,0.007920,0.574361,0.027207,0.506944,0.013624,0.027916
50%,0.000496,0.000000,0.017216,0.000000,0.000969,0.011921,0.126141,0.006387,0.010064,0.651586,0.033351,0.744376,0.020243,0.040477
75%,0.005141,0.024602,0.023835,0.000000,0.001052,0.013332,0.156434,0.010735,0.030633,0.850816,0.037946,0.804421,0.027875,0.050786
max,0.113071,0.207198,0.061206,0.002369,0.002064,0.018058,0.237496,0.027559,0.035794,0.993280,0.053068,0.887524,0.070024,0.112593

In [41]:
#splitting df to X and y
X = normed_df.iloc[:,0:13].values
y = normed_df.iloc[:,13].values

In [47]:
#creating train and test split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [35]:
models = []
results = []
names = []

In [37]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.metrics import r2_score
from sklearn.model_selection import GridSearchCV

In [36]:
models.append(('DTR', DecisionTreeRegressor()))
models.append(('RFR', RandomForestRegressor()))
models.append(('LIN', LinearRegression()))
models.append(('LAS', Lasso()))
models.append(('RID', Ridge()))
models.append(('KNN', KNeighborsRegressor()))

In [53]:
for name, model in models:
    kfold = KFold(n_splits=5, random_state=42)
    cv_results = cross_val_score(model, X_train, y_train, scoring = 'neg_mean_squared_error', cv = kfold, verbose=True)
    results.append(cv_results)
    names.append(name)
    msg = print('%s %f (%f)' % (name, cv_results.mean(), cv_results.std()))
    print(msg)

DTR -0.000086 (0.000012)
None
RFR -0.000050 (0.000009)
None
LIN -0.000067 (0.000012)
None
LAS -0.000429 (0.000070)
None
RID -0.000228 (0.000020)
None
KNN -0.000159 (0.000024)
None

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.0s finished

In [66]:
#setting parameters for random forest grid search

param = {'n_estimators': np.arange(100, 1000, 250),
        'max_features': ['auto', 'sqrt'],
        'random_state': [42],
        }

In [67]:
#selecting the Random forest model for the model

rf_reg = RandomForestRegressor()
print(rf_reg.get_params().keys())

dict_keys(['bootstrap', 'criterion', 'max_depth', 'max_features', 'max_leaf_nodes', 'min_impurity_decrease', 'min_impurity_split', 'min_samples_leaf', 'min_samples_split', 'min_weight_fraction_leaf', 'n_estimators', 'n_jobs', 'oob_score', 'random_state', 'verbose', 'warm_start'])

In [79]:
rf_gcv = GridSearchCV(rf_reg, param_grid=param, scoring = 'r2', cv=5)

In [80]:
rf_gcv.fit(X_train, y_train)

GridSearchCV(cv=5, error_score='raise',
       estimator=RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'n_estimators': array([100, 350, 600, 850]), 'max_features': ['auto', 'sqrt'], 'random_state': [42]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='r2', verbose=0)

In [82]:
rf_pred = rf_gcv.predict(X_test)

In [83]:
print(mean_squared_error(y_test, rf_pred), r2_score(y_test, rf_pred))

2.801872704391033e-05 0.9295478550603347

In [88]:
X_new = pd.concat([pd.DataFrame(X_train), pd.DataFrame(X_test)]).values

In [90]:
rf_X_pred = rf_gcv.predict(X_new)

In [91]:
normed_df['PRED'] = rf_X_pred

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,PRED
0,0.000013,0.035955,0.004614,0.0,0.001075,0.013134,0.130238,0.008170,0.001998,0.591265,0.030562,0.792814,0.009948,0.047940,0.016670
1,0.000058,0.000000,0.014961,0.0,0.000992,0.013588,0.166966,0.010511,0.004232,0.512112,0.037668,0.839907,0.019342,0.045709,0.038989
2,0.000058,0.000000,0.015133,0.0,0.001004,0.015379,0.130778,0.010632,0.004281,0.517974,0.038099,0.840809,0.008626,0.074272,0.042812
3,0.000071,0.000000,0.004772,0.0,0.001003,0.015319,0.100257,0.013270,0.006567,0.485964,0.040935,0.863856,0.006436,0.073114,0.018543
4,0.000150,0.000000,0.004740,0.0,0.000996,0.015539,0.117842,0.013181,0.006523,0.482675,0.040658,0.862945,0.011589,0.078707,0.036365